.leaderboard-container {

  .fade-enter {
    opacity:0;
  }

  .fade-appear {
    opacity:0;
  }

  .fade-enter.fade-enter-active {
    opacity:1;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
  }

  .fade-appear.fade-appear-active {
    opacity:1;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
  }

}