.leaderboard-container {

  .fade-appear, .fade-enter {
    opacity:0;
  }

  .fade-appear.fade-appear-active,
  .fade-enter.fade-enter-active {
    opacity:1;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
  }

  .fade-leave.fade-leave-active {
    opacity:0;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
  }

  .fade-leave {
    opacity:1;
  }


}