.leaderboard-container {
  margin-top: 15px;

  .fade-appear, .fade-enter {
    opacity:0;
  }

  .fade-appear.fade-appear-active,
  .fade-enter.fade-enter-active {
    opacity:1;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
  }

}